.body{
  background-color: #000;
}
@media screen and (max-width:991px) {
  .search-box
  {
      display: none;
  }
}
@media screen and (min-width:992px) {
  .search-box-1
  {
      display: none;
  }
}
.navbar{
  background-color: #fff;
}
.navbar-toggler{
  border: none;
  font-size: 1.24rem;

}
.navbar-toggler:focus .btn-close:focus{
  box-shadow: none;
  outline: none;
}
.nav-link{
  color: #666777;
  font-weight: 500;
  position: relative;
}
.nav-link:hover , .nav-link.active{
  color: #000;
}
@media (min-width: 991px){
.nav-link::before{
  content: "";
  position: absolute;
  bottom: 0;
  left:50% ;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #009970;
  visibility: none;
  transition: 0.3s ease-in-out;
}
.nav-link:hover::before{
  width: 100%;
  visibility: visible;
}

}
