
@media screen and (max-width:991px) {
  .search-box
  {
      display: none;
  }
}
.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}
.logo-container {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  border-radius: 50%; /* Creates a circular shape */
  overflow: hidden; /* Ensures content does not overflow */
  background-color: #eaeaea; /* Set a background color */
}

/* Style for the logo image inside the circular container */
.logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
  object-position: center center; /* Center the image within the container */
}
.navbar{
  background-color: whitesmoke;
}
.navbar-brand{
object-fit: cover;
}

.navbar-toggler{
  border: none;
  font-size: 1.24rem;

}
.navbar-toggler:focus .btn-close:focus{
  box-shadow: none;
  outline: none;
}
.nav-link{
  color: #000000;
  font-weight: 500;
  position: relative;
}
.nav-link:hover , .nav-link.active{
  color: grey;
}
@media (min-width: 991px){
.nav-link::before{
  content: "";
  position: absolute;
  bottom: 0;
  left:50% ;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #009970;
  transition: 0.3s ease-in-out;
}
.nav-link:hover::before{
  width: 100%;
  visibility: visible;
}

}
